<h2 mat-dialog-title>Congratulations!</h2>
<mat-dialog-content>
  <p>You have met the quota.</p>
  <p>Your Score: {{ score }}</p>
  <p>Level Completed: {{ level }}</p>

  <div *ngIf="isHighscore">
    <h3>New High Score!</h3>
    <button mat-raised-button color="primary" (click)="openHighscoreEntry()">
      Save score
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Replay Level</button>
  <button mat-button [mat-dialog-close]="false">Next Level</button>
  <button mat-button color="warn" (click)="quitAndSaveScore()">
    Quit & Save Score
  </button>
</mat-dialog-actions>
