.core-sphere {
  display: flex;
  align-items: center;
  background: #00bfff;
  box-shadow: 0 0 12px #00bfff;
  border-radius: 50%;
  border: 2px solid #fff;
  font-family: kiwi_font;
  font-size: 4.5rem;
  font-weight: bold;
  height: 5.5rem;
  justify-content: center;
  margin: 0 auto;
  width: 5.5rem;

  & span {
    color: rgba(152, 251, 152, 0.9);
    transform: rotate(5deg);
  }
}
