.app-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;

    app-core-sphere {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    app-coin {
        margin: 2rem auto;
        &:nth-child(5) {
            order: 1;
        }
        &:nth-child(6) {
            order: 2;
        }
        &:nth-child(7) {
            order: 3;
        }
        &:nth-child(8) {
            order: 4;
        }
        &:nth-child(9) {
            order: 5;
        }
        &:nth-child(10) {
            order: 8;
        }
        &:nth-child(11) {
            order: 9;
        }
        &:nth-child(12) {
            order: 12;
        }
        &:nth-child(13) {
            order: 13;
        }
        &:nth-child(14) {
            order: 14;
        }
        &:nth-child(15) {
            order: 15;
        }
        &:nth-child(16) {
            order: 16;
        }
    }
    
    .entry-coin {
        &:nth-child(1) {
            order: 6;
        }
        &:nth-child(2) {
            order: 7;
        }
        &:nth-child(3) {
            order: 10;
        }
        &:nth-child(4) {
            order: 11;
        }
    }
}