.highscore-entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.initials-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.initial-char {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-size: 2em;
}
