<div class="highscore-entry-container">
  <h2 class="h2">New Highscore!</h2>
  <p>Your score: {{ data.score }}</p>
  <div class="initials-container">
    <div *ngFor="let initial of initials; let i = index" class="initial-char">
      <button mat-icon-button (click)="changeChar(i, 1)">
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <span>{{ initial }}</span>
      <button mat-icon-button (click)="changeChar(i, -1)">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="save()">Save Score</button>
</div>
